<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPasswordServlet</servlet-name>
        <servlet-class>controller.forgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUsernameServlet</servlet-name>
        <servlet-class>controller.checkUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManageServlet</servlet-name>
        <servlet-class>controller.UserManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>controller.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayUser</servlet-name>
        <servlet-class>controller.displayUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUsernameServlet</servlet-name>
        <url-pattern>/checkUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/UserManageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/listUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/delUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManageServlet</servlet-name>
        <url-pattern>/queryUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayUser</servlet-name>
        <url-pattern>/displayUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
