<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addUserServlet</servlet-name>
        <servlet-class>controller.addUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delUserServlet</servlet-name>
        <servlet-class>controller.delUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserServlet</servlet-name>
        <servlet-class>controller.updateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listUserServlet</servlet-name>
        <servlet-class>controller.listUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addUserServlet</servlet-name>
        <url-pattern>/addUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delUserServlet</servlet-name>
        <url-pattern>/delUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserServlet</servlet-name>
        <url-pattern>/updateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listUserServlet</servlet-name>
        <url-pattern>/listUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
