
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}


h1 {
	font-weight: bold;
	margin: 0;
  margin-bottom: 20px;
  position: absolute;
  top: 110px;

}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}


form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 0%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(103, 96, 96, 0.25), 
			0 10px 10px rgba(102, 89, 89, 0.22);
	position: relative;
	overflow: hidden;
	width: 450px;
	max-width: 90%;
	min-height: 600px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 100%;
	z-index: 2;
}


input{
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
  width: 100%;
	transition: all 0.3s ease;
}


input:focus {
	transform: scale(1.02); 
	border-color: #007bff; 
}

.password-container {
	position: relative;
	width: 100%;
}
.password-toggle {
	position: absolute;
	top: 50%;
	right: 3%;
	transform: translateY(-50%);
	cursor: pointer;
	color: #666;
	padding: auto;
}
#forgetPs {
	
	text-decoration: none;
}
#forgetPs:hover {	
	
	text-decoration: underline;
}
.SignInBtn{
  position: absolute;
  bottom: 80px;
  width: 40%;
}


