.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 可根据需要调整表格在页面中的垂直位置 */
    
}

.table {
    width: 60% !important ; /* 根据需要调整表格的宽度 */
    margin: 0 auto; /* 将左右外边距设置为auto，使表格水平居中 */
}

    
a{
    text-decoration: none !important;
}

body{
    margin: 0px;
    padding: 0px;   
    overflow: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}




#main{
    transition: margin-left .5s;
    padding: 16px;
    margin: 0 20px;
}
.head{
    padding: 20px;
}
.col-div-6{
    width: 50%;
    float: left;
}


.nav2{
    display: none;
}

.col-div-3{
    width: 25%;
    float: left;
}
.box{
    width: 85%;
    height: 100px;
    background-color: #2d353c;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.box p{
    font-size: 35px;
    color: white;
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-block;
}

.box p span{
    font-size: 20px;
    font-weight: 400;
    color: #e7e1e1;

}

.box-icon{
    font-size: 40px!important;
    float: right;
    margin-top: 35px!important;
    color: #b1b7ae;
    padding-right: 10px;
}

.col-div-8{
    margin-top: 20px;
    margin-left: 25px;
    width: 127vh;
    float: left;
}

.col-div-4{
    width: 30%;
    float: left;
}

.content-box{
    padding: 20px;


}
.content-box p {
    margin: 0px;
    font-size: 20px;
    color: #adb5bd;
    font-weight: 400;
}
.content-box p span{
    float: right ;

}

.box-8, .box-4{
    width: 96.5%;
    background-color:#212126 ;
    height: 680px;
    border-radius: 5px;
    overflow:auto ;

}

::-webkit-scrollbar{
    display:none;
}

.box-8{
    margin-left: 2%;
    width: 140%;
}
table{  
    border-collapse: collapse ;
    width: 100%;
}

td,th{
    text-align: left ;
    padding: 15px;
    color: #ddd;
    border-bottom: 1px solid #818181;
}


input{
    font-size: 20px;
    border-radius: 3px;
    margin-top: 3px
}
.btnsearch{
    font-size: 14px;
    margin-right: 180px;
    margin-left: 16px;
    margin-top: 3px;
}

.overflow-text {
    max-width: 150px !important; 
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
#alertContainer {
    position: fixed;
    width: 100%;
  z-index: 9999 !important; 
}

.alert.fade {
  transition: opacity 1s ease-out; 
  opacity: 0; 
}

.alert.show {
  opacity: 0.8; 
}



